* text=auto !eol
/INSTALL.Glpk -text
/Makefile.am -text
/Makefile.in -text
/coinglpk-uninstalled.pc.in -text
/coinglpk.pc.in -text
/config.guess -text
/config.h -text
/config.sub -text
/config_glpk.h.in -text
/configure -text
/configure.ac -text
/depcomp -text
/get.Glpk -text
/glpk.patch -text
/install-sh -text
/ltmain.sh -text
/missing -text
