* text=auto !eol
/INSTALL.Glpk -text
/Makefile.am -text
/Makefile.in -text
/captureConfigFiles -text
/coinglpk.pc.in -text
/compile -text
/config.guess -text
/config.h -text
/config.sub -text
/config_glpk.h.in -text
/configure -text
/configure.ac -text
/depcomp -text
/get.Glpk -text
/glpk_config.patch -text
glpk_config_files/Makefile.in -text
glpk_config_files/aclocal.m4 -text
glpk_config_files/compile -text
glpk_config_files/config.guess -text
glpk_config_files/configure -text
glpk_config_files/configure.ac -text
glpk_config_files/depcomp -text
glpk_config_files/examples/Makefile.am -text
glpk_config_files/examples/Makefile.in -text
glpk_config_files/install-sh -text
glpk_config_files/missing -text
glpk_config_files/src/Makefile.am -text
glpk_config_files/src/Makefile.in -text
/install-sh -text
/ltmain.sh -text
/missing -text
